<lx-tabs lx-color="indigo">
	<lx-tab lx-label="Posts">
		<div class="card top-space" ng-repeat="post in posts">
			<div class="p+">
				<strong class="fs-headline display-block tc-indigo-900">
					{{post.title}}
				</strong>
				<div class="paragraph fs-body-1 mt+">
					{{post.body}}
				</div>
			</div>
			<div class="card__actions tc-indigo-900">
				<a href="#!/post/{{post.id}}" class="btn btn--m btn--indigo btn--flat">Read more</a>
				<a href="#!/post/edit/{{post.id}}" class="btn btn--m btn--orange btn--flat">Edit</a>
				<a ng-click="removePost(post)" class="btn btn--m btn--red btn--flat">Delete</a>
			</div>
		</div>
		<br/>
	</lx-tab>
	<lx-tab lx-label="Users">
		<div class="card top-space" ng-repeat="user in users">
			<div flex-container="row">
				<div class="card__img card__img--left" style="height: 160px;">
					<img src="imgs/user.jpg">
				</div>
				<div flex-item flex-container="column">
					<div flex-item>
						<strong class="fs-headline display-block tc-indigo-900 p+">{{user.name}}</strong>
						<strong class="fs-subhead display-block tc-black-2 p+">{{user.email}}</strong>
					</div>
				</div>
			</div>
			<div class="card__actions tc-indigo-900 p+">Go to user profile</div>
		</div>
		<br/>
	</lx-tab>
</lx-tabs>