<form ng-submit="savePost()">
	<div class="card top-space">
		<div class="p+">
			<h2 class="tc-indigo-600">{{title}}</h2>
			<div flex-container="row">
				<div flex-item>
					<lx-text-field lx-label="Title" lx-allow-clear="false">
						<input type="text" ng-model="post.title">
					</lx-text-field>
				</div>
			</div>
			<div flex-container="row">
				<div flex-item>
					<lx-text-field lx-label="Body" lx-allow-clear="false">
						<textarea ng-model="post.body">
							
						</textarea>
					</lx-text-field>
				</div>
			</div>
		</div>
		<div class="card__actions p+">
			<button type="submit" class="btn btn--indigo btn--l btn--raised">Save</button>
		</div>
	</div>
</form>