<div class="card top-space">
	<div class="p+">
		<strong class="fs-headline display-block tc-indigo-900">
			{{post.title}}
		</strong>
		<div class="paragraph fs-body-1 mt+">
			{{post.body}}
		</div>
	</div>
</div>